@import "tailwindcss";

:root {
  --background: #cccfff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;
  --font-serif: var(--font-playfair), ui-serif, Georgia;
  --font-playfair: var(--font-playfair), serif;
}

/* Estilos adicionales */
@layer utilities {
  .bg-main-gradient {
    @apply bg-gradient-to-br from-[#b7b6ff] to-[#c5fff5];
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.8s ease-out;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .font-playfair {
    font-family: var(--font-playfair);
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}